<a href="https://colab.research.google.com/github/juanicolombo97/TP1-OrganizacionDatos/blob/main/TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TP1

## Datos Grupo

### Link Github Repository

[Github](https://github.com/juanicolombo97/TP1-OrganizacionDatos)

### Juan Ignacio Colombo

Padron: 103471


Mail: jcolombo@fi.uba.ar

## Imports

In [2]:
# Import pandas.

import pandas as pd

In [3]:
# Import files from drive.

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
# Import datasets.

train_labels_dataset = pd.read_csv("/content/gdrive/MyDrive/1C-2021/Datos/TP1/Datasets/train_labels.csv")
train_values_dataset = pd.read_csv("/content/gdrive/MyDrive/1C-2021/Datos/TP1/Datasets/train_values.csv")

## Analisis Exploratorio

In [5]:
train_labels_dataset.head(5)

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [6]:
train_values_dataset.head(5)

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 39 columns]