<a href="https://colab.research.google.com/github/juanicolombo97/TP1-OrganizacionDatos/blob/main/TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TP1

## Datos Grupo

### Link Github Repository

[Github](https://github.com/juanicolombo97/TP1-OrganizacionDatos)

### Juan Ignacio Colombo

Padron: 103471


Mail: jcolombo@fi.uba.ar

## Imports

In [ ]:
# Import pandas.

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Import files from drive.

# from google.colab import drive
# drive.mount('/content/gdrive')

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
 auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
dataset_labels = drive.CreateFile({'id': '1BFMOae6_mh0FAADOEAmMgKEyxVLnyLx-'})
dataset_labels.GetContentFile('labels.csv')

In [ ]:
dataset_values = drive.CreateFile({'id': '1H-6GzuPgEkHrJuA0ZN932tyAynasX231'})
dataset_values.GetContentFile('values.csv')

In [ ]:
train_labels_dataset = pd.read_csv("labels.csv")
train_values_dataset = pd.read_csv("values.csv")

## Analisis Exploratorio

### Analisis inicial.

In [ ]:
train_labels_dataset.head(5)

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [ ]:
train_values_dataset.head(5)

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 39 columns]

In [ ]:
# Analizo segun a√±o.
train_values_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

### Manejo Nulos y Nan.

In [ ]:
cantidad_edificios = train_values_dataset["building_id"].count()
cantidad_edificios

260601

In [ ]:
# Cantidad de nulos por columna.
train_values_dataset.isnull().sum()

building_id                               0
geo_level_1_id                            0
geo_level_2_id                            0
geo_level_3_id                            0
count_floors_pre_eq                       0
age                                       0
area_percentage                           0
height_percentage                         0
land_surface_condition                    0
foundation_type                           0
roof_type                                 0
ground_floor_type                         0
other_floor_type                          0
position                                  0
plan_configuration                        0
has_superstructure_adobe_mud              0
has_superstructure_mud_mortar_stone       0
has_superstructure_stone_flag             0
has_superstructure_cement_mortar_stone    0
has_superstructure_mud_mortar_brick       0
has_superstructure_cement_mortar_brick    0
has_superstructure_timber                 0
has_superstructure_bamboo                 0
has_superstructure_rc_non_engineered      0
has_superstructure_rc_engineered          0
has_superstructure_other                  0
legal_ownership_status                    0
count_families                            0
has_secondary_use                         0
has_secondary_use_agriculture             0
has_secondary_use_hotel                   0
has_secondary_use_rental                  0
has_secondary_use_institution             0
has_secondary_use_school                  0
has_secondary_use_industry                0
has_secondary_use_health_post             0
has_secondary_use_gov_office              0
has_secondary_use_use_police              0
has_secondary_use_other                   0
dtype: int64

In [ ]:
# Cantidad de Nan por columna.
train_values_dataset.isna().sum()

building_id                               0
geo_level_1_id                            0
geo_level_2_id                            0
geo_level_3_id                            0
count_floors_pre_eq                       0
age                                       0
area_percentage                           0
height_percentage                         0
land_surface_condition                    0
foundation_type                           0
roof_type                                 0
ground_floor_type                         0
other_floor_type                          0
position                                  0
plan_configuration                        0
has_superstructure_adobe_mud              0
has_superstructure_mud_mortar_stone       0
has_superstructure_stone_flag             0
has_superstructure_cement_mortar_stone    0
has_superstructure_mud_mortar_brick       0
has_superstructure_cement_mortar_brick    0
has_superstructure_timber                 0
has_superstructure_bamboo                 0
has_superstructure_rc_non_engineered      0
has_superstructure_rc_engineered          0
has_superstructure_other                  0
legal_ownership_status                    0
count_families                            0
has_secondary_use                         0
has_secondary_use_agriculture             0
has_secondary_use_hotel                   0
has_secondary_use_rental                  0
has_secondary_use_institution             0
has_secondary_use_school                  0
has_secondary_use_industry                0
has_secondary_use_health_post             0
has_secondary_use_gov_office              0
has_secondary_use_use_police              0
has_secondary_use_other                   0
dtype: int64

### Porcentaje datos validos.

In [ ]:
datos_validos = train_values_dataset.count().reset_index()
datos_validos["Porcentaje_datos_validos"] = (cantidad_edificios / datos_validos[0]) * 100
datos_validos_por_columna = datos_validos[["index","Porcentaje_datos_validos"]]
datos_validos_por_columna

                                     index  Porcentaje_datos_validos
0                              building_id                     100.0
1                           geo_level_1_id                     100.0
2                           geo_level_2_id                     100.0
3                           geo_level_3_id                     100.0
4                      count_floors_pre_eq                     100.0
5                                      age                     100.0
6                          area_percentage                     100.0
7                        height_percentage                     100.0
8                   land_surface_condition                     100.0
9                          foundation_type                     100.0
10                               roof_type                     100.0
11                       ground_floor_type                     100.0
12                        other_floor_type                     100.0
13                                position                     100.0
14                      plan_configuration                     100.0
15            has_superstructure_adobe_mud                     100.0
16     has_superstructure_mud_mortar_stone                     100.0
17           has_superstructure_stone_flag                     100.0
18  has_superstructure_cement_mortar_stone                     100.0
19     has_superstructure_mud_mortar_brick                     100.0
20  has_superstructure_cement_mortar_brick                     100.0
21               has_superstructure_timber                     100.0
22               has_superstructure_bamboo                     100.0
23    has_superstructure_rc_non_engineered                     100.0
24        has_superstructure_rc_engineered                     100.0
25                has_superstructure_other                     100.0
26                  legal_ownership_status                     100.0
27                          count_families                     100.0
28                       has_secondary_use                     100.0
29           has_secondary_use_agriculture                     100.0
30                 has_secondary_use_hotel                     100.0
31                has_secondary_use_rental                     100.0
32           has_secondary_use_institution                     100.0
33                has_secondary_use_school                     100.0
34              has_secondary_use_industry                     100.0
35           has_secondary_use_health_post                     100.0
36            has_secondary_use_gov_office                     100.0
37            has_secondary_use_use_police                     100.0
38                 has_secondary_use_other                     100.0

### Incoherencias en las variables

#### Incoherencia en los pisos.

In [ ]:
cantidad_edificios_pisos_incoherentes = train_values_dataset['count_floors_pre_eq'] > train_values_dataset['height_percentage']
cantidad_pisos_incorrrectos = cantidad_edificios_pisos_incoherentes.sum()
cantidad_pisos_incorrrectos

20

### Analisis Segun Edad

#### Filtrado datos y merge.

In [ ]:
datos_edad = train_values_dataset[["building_id", "age"]]
datos_edad_merged = pd.merge(left=datos_edad, right=train_labels_dataset, how="inner", on="building_id")
datos_edad_filtrados = datos_edad_merged[["damage_grade", "age", 'building_id']]
datos_edad_filtrados.head(1)

   damage_grade  age  building_id
0             3   30       802906

#### Edades comparadas a promedio segun damage_grade.

In [ ]:
datos_promedio = datos_edad_filtrados
datos_promedio["Supera_Promedio_Edad"] = datos_promedio["age"] > datos_promedio["age"].mean()
datos_promedio["Debajo_Promedio_Edad"] = datos_promedio["age"] <= datos_promedio["age"].mean()
datos_promedio_final = datos_promedio.groupby("damage_grade").agg({"Supera_Promedio_Edad": "count", "Debajo_Promedio_Edad": "count"}).reset_index()
datos_promedio_final

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   damage_grade  Supera_Promedio_Edad  Debajo_Promedio_Edad
0             1                 25124                 25124
1             2                148259                148259
2             3                 87218                 87218

#### Rango edades segun damage_grade.

In [ ]:
# Obtengo los rangos de edad segun el damage grade, para edificios entre 0 a 100 anios.
datos_rangos = datos_edad_filtrados
datos_rangos["Damage_3"] = datos_rangos["damage_grade"] == 3
datos_rangos["Damage_2"] = datos_rangos["damage_grade"] == 2
datos_rangos["Damage_1"] = datos_rangos["damage_grade"] == 1
datos_rangos_final = datos_rangos.groupby("age").agg({"Damage_3" : "sum", "Damage_2" : "sum", "Damage_1" : "sum"}).reset_index()

##### Rangos menores a 100 anios.

In [ ]:
datos_rangos_edad_menor_100 = datos_rangos_final[datos_rangos_final["age"] <= 100]
datos_rangos_edad_menor_100

    age  Damage_3  Damage_2  Damage_1
0     0      6107     12721      7213
1     5      9077     19030      5590
2    10     12166     22370      4360
3    15     12365     20767      2878
4    20     11625     18603      1954
5    25      9162     14073      1131
6    30      6944     10444       640
7    35      4112      6246       352
8    40      4188      6088       283
9    45      1789      2802       120
10   50      2931      4156       170
11   55       773      1215        45
12   60      1421      2115        76
13   65       412       695        16
14   70       753      1190        32
15   75       187       317         8
16   80      1268      1759        28
17   85       289       551         7
18   90       389       685        11
19   95       159       244        11
20  100       443       911        10

##### Rangos mayores a 100 anios.

In [ ]:
datos_rangos_edad_mayor_100 = datos_rangos_final[datos_rangos_final["age"] > 100]
datos_rangos_edad_mayor_100

    age  Damage_3  Damage_2  Damage_1
21  105        32        56         1
22  110        35        64         1
23  115        10        10         1
24  120        80        98         2
25  125        11        26         0
26  130         6         3         0
27  135         0         4         1
28  140         1         8         0
29  145         0         3         0
30  150        44        97         1
31  155         1         0         0
32  160         3         3         0
33  165         0         2         0
34  170         2         4         0
35  175         2         3         0
36  180         2         5         0
37  185         0         1         0
38  190         1         2         0
39  195         0         2         0
40  200        39        64         3
41  995       389       822       179

In [ ]:
datos_edad_filtrados.head()

   damage_grade  age  Supera_Promedio_Edad  ...  Damage_3  Damage_2  Damage_1
0             3   30                  True  ...      True     False     False
1             2   10                 False  ...     False      True     False
2             3   10                 False  ...      True     False     False
3             2   10                 False  ...     False      True     False
4             3   30                  True  ...      True     False     False

[5 rows x 7 columns]

In [ ]:

dataset_values_geo_level_1 = train_values_dataset[['geo_level_1_id', 'building_id']]
edad_zona = pd.merge(left=datos_edad_filtrados, right=dataset_values_geo_level_1, on='building_id', how='left')[['geo_level_1_id', 'damage_grade','age']]
edad_zona = edad_zona[edad_zona['geo_level_1_id'] == 17][['damage_grade','age']]
edad_zona_17_promedio = edad_zona.groupby('damage_grade').agg({'age' : 'mean'})
edad_zona_17_promedio

                    age
damage_grade
1              5.157895
2             19.496550
3             23.908033

In [ ]:
edad_segun_barro = train_values_dataset[['building_id', 'has_superstructure_mud_mortar_stone', 'age']]
edad_segun_barro_filtrado = edad_segun_barro[(edad_segun_barro['has_superstructure_mud_mortar_stone'] == 1) & (edad_segun_barro['age'] <= 100)]
edad_segun_barro = pd.merge(left=edad_segun_barro_filtrado, right=train_labels_dataset, on='building_id', how='left')[['age', 'damage_grade']]
edad_segun_barro = edad_segun_barro.groupby('damage_grade').agg({'age' : 'mean'}).reset_index()
edad_segun_barro

   damage_grade        age
0             1  15.603697
1             2  21.500177
2             3  21.680021

#### Analisis sobre area_percentage.

In [ ]:
area_segun_edades = train_values_dataset[['building_id', 'age', 'area_percentage']]
area_segun_edades_joineado = pd.merge(left=area_segun_edades, right=train_labels_dataset, on="building_id")
area_edad_segun_damage = area_segun_edades_joineado.groupby('damage_grade').agg({"area_percentage" : 'mean', "age" : "mean"})
area_edad_segun_damage

              area_percentage        age
damage_grade
1                    9.716009  17.320490
2                    8.034049  27.342118
3                    7.501743  27.817423

In [ ]:
area_segun_altura = train_values_dataset[['building_id', 'age', 'area_percentage', 'height_percentage']]
area_segun_altura_joineado = pd.merge(left=area_segun_altura, right=train_labels_dataset, on='building_id', how="left")[['area_percentage', 'height_percentage', 'damage_grade']]
area_segun_altura_joineado.head(5)

   area_percentage  height_percentage  damage_grade
0                6                  5             3
1                8                  7             2
2                5                  5             3
3                6                  5             2
4                8                  9             3

### Analisis segun cantidad pisos y altura.

In [ ]:
pisos_y_altura = train_values_dataset[['building_id','count_floors_pre_eq', 'height_percentage']]
pisos_y_altura =  pd.merge(left=pisos_y_altura, right=train_labels_dataset, on='building_id', how="left")[['count_floors_pre_eq', 'height_percentage', 'damage_grade']]
pisos_y_altura_filtrado = pisos_y_altura[pisos_y_altura['count_floors_pre_eq'] < pisos_y_altura['height_percentage']]
pisos_y_altura_filtrado['relacion'] = pisos_y_altura_filtrado['height_percentage'] / pisos_y_altura_filtrado['count_floors_pre_eq']
pisos_y_altura_filtrado

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

        count_floors_pre_eq  height_percentage  damage_grade  relacion
0                         2                  5             3  2.500000
1                         2                  7             2  3.500000
2                         2                  5             3  2.500000
3                         2                  5             2  2.500000
4                         3                  9             3  3.000000
...                     ...                ...           ...       ...
260596                    1                  3             2  3.000000
260597                    2                  5             3  2.500000
260598                    3                  7             3  2.333333
260599                    2                  6             2  3.000000
260600                    3                  6             3  2.000000

[260367 rows x 4 columns]

In [ ]:
pisos_y_altura

        count_floors_pre_eq  height_percentage  damage_grade
0                         2                  5             3
1                         2                  7             2
2                         2                  5             3
3                         2                  5             2
4                         3                  9             3
...                     ...                ...           ...
260596                    1                  3             2
260597                    2                  5             3
260598                    3                  7             3
260599                    2                  6             2
260600                    3                  6             3

[260601 rows x 3 columns]

### Analisis segun position.

In [ ]:
position_data = train_values_dataset[["building_id", "position"]]
position_data_joineado = pd.merge(left=position_data, right=train_labels_dataset, on='building_id', how="left")[["position", "damage_grade"]]
position_data_joineado_damage_3 = position_data_joineado[position_data_joineado["damage_grade"] == 3]
position_data_joineado_damage_2 = position_data_joineado[position_data_joineado["damage_grade"] == 2]
position_data_joineado_damage_1 = position_data_joineado[position_data_joineado["damage_grade"] == 1]
danio_3_segun_posicion = position_data_joineado_damage_3.groupby('position').agg({'damage_grade' : 'count'}).reset_index()
danio_3_segun_posicion.columns = ['position', 'Damage_3']
danio_2_segun_posicion = position_data_joineado_damage_2.groupby('position').agg({'damage_grade' : 'count'}).reset_index()
danio_2_segun_posicion.columns = ['position', 'Damage_2']
danio_1_segun_posicion = position_data_joineado_damage_1.groupby('position').agg({'damage_grade' : 'count'}).reset_index()
danio_1_segun_posicion.columns = ['position', 'Damage_1']
danio_por_posicion = pd.merge(left=danio_1_segun_posicion, right=danio_2_segun_posicion, on="position")
danio_por_posicion = pd.merge(left=danio_3_segun_posicion, right=danio_por_posicion, on="position")
danio_por_posicion["sum"] = danio_por_posicion.sum(axis=1)
danio_por_posicion["Porcentaje_edificios_2"] = ( danio_por_posicion["Damage_2"] * 100) / danio_por_posicion['sum']
danio_por_posicion["Porcentaje_edificios_1"] = ( danio_por_posicion["Damage_1"] * 100) / danio_por_posicion['sum'] 
danio_por_posicion["Porcentaje_edificios_3"] = ( danio_por_posicion["Damage_3"] * 100) / danio_por_posicion['sum'] 
danio_por_posicion_porcentaje = danio_por_posicion[['position', 'Porcentaje_edificios_1',"Porcentaje_edificios_2", "Porcentaje_edificios_3"]]
danio_por_posicion_porcentaje

  position  ...  Porcentaje_edificios_3
0        j  ...               27.917482
1        o  ...               25.889413
2        s  ...               32.743827
3        t  ...               39.010630

[4 rows x 4 columns]