<a href="https://colab.research.google.com/github/juanicolombo97/TP1-OrganizacionDatos/blob/main/TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TP1

## Datos Grupo

### Link Github Repository

[Github](https://github.com/juanicolombo97/TP1-OrganizacionDatos)

### Juan Ignacio Colombo

Padron: 103471


Mail: jcolombo@fi.uba.ar

## Imports

In [48]:
# Import pandas.

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
# Import files from drive.

# from google.colab import drive
# drive.mount('/content/gdrive')

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [27]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [28]:
# Import datasets.
dataset_labels = drive.CreateFile({'id': '1BFMOae6_mh0FAADOEAmMgKEyxVLnyLx-'})
dataset_labels.GetContentFile('labels.csv')

In [29]:
dataset_values = drive.CreateFile({'id': '1H-6GzuPgEkHrJuA0ZN932tyAynasX231'})
dataset_values.GetContentFile('values.csv')

In [30]:
train_labels_dataset = pd.read_csv("labels.csv")
train_values_dataset = pd.read_csv("values.csv")

## Analisis Exploratorio

### Analisis inicial.

In [31]:
train_labels_dataset.head(5)

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [32]:
train_values_dataset.head(5)

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 39 columns]

In [33]:
# Analizo segun año.
train_values_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

### Manejo Nulos y Nan.

In [34]:
cantidad_edificios = train_values_dataset["building_id"].count()
cantidad_edificios

260601

In [35]:
# Cantidad de nulos por columna.
train_values_dataset.isnull().sum()

building_id                               0
geo_level_1_id                            0
geo_level_2_id                            0
geo_level_3_id                            0
count_floors_pre_eq                       0
age                                       0
area_percentage                           0
height_percentage                         0
land_surface_condition                    0
foundation_type                           0
roof_type                                 0
ground_floor_type                         0
other_floor_type                          0
position                                  0
plan_configuration                        0
has_superstructure_adobe_mud              0
has_superstructure_mud_mortar_stone       0
has_superstructure_stone_flag             0
has_superstructure_cement_mortar_stone    0
has_superstructure_mud_mortar_brick       0
has_superstructure_cement_mortar_brick    0
has_superstructure_timber                 0
has_superstructure_bamboo                 0
has_superstructure_rc_non_engineered      0
has_superstructure_rc_engineered          0
has_superstructure_other                  0
legal_ownership_status                    0
count_families                            0
has_secondary_use                         0
has_secondary_use_agriculture             0
has_secondary_use_hotel                   0
has_secondary_use_rental                  0
has_secondary_use_institution             0
has_secondary_use_school                  0
has_secondary_use_industry                0
has_secondary_use_health_post             0
has_secondary_use_gov_office              0
has_secondary_use_use_police              0
has_secondary_use_other                   0
dtype: int64

In [ ]:
# Cantidad de Nan por columna.
train_values_dataset.isna().sum()

### Porcentaje datos validos.

In [42]:
datos_validos = train_values_dataset.count().reset_index()
datos_validos["Porcentaje_datos_validos"] = (cantidad_edificios / datos_validos[0]) * 100
datos_validos_por_columna = datos_validos[["index","Porcentaje_datos_validos"]]
datos_validos_por_columna.to_csv("/content/gdrive/MyDrive/1C-2021/Datos/TP1/CSVS/datos_validos_por_columna.csv")

### Analisis Segun Edad

#### Filtrado datos y merge.

In [38]:
datos_edad = train_values_dataset[["building_id", "age"]]
datos_edad_merged = pd.merge(left=datos_edad, right=train_labels_dataset, how="inner", on="building_id")
datos_edad_filtrados = datos_edad_merged[["damage_grade", "age"]]
datos_edad_filtrados.head(1)

   damage_grade  age
0             3   30

#### Edades comparadas a promedio segun damage_grade.

In [39]:
datos_promedio = datos_edad_filtrados
datos_promedio["Supera_Promedio_Edad"] = datos_promedio["age"] > datos_promedio["age"].mean()
datos_promedio["Debajo_Promedio_Edad"] = datos_promedio["age"] <= datos_promedio["age"].mean()
datos_promedio_final = datos_promedio.groupby("damage_grade").agg({"Supera_Promedio_Edad": "count", "Debajo_Promedio_Edad": "count"}).reset_index()
datos_promedio_final.to_csv("/content/gdrive/MyDrive/1C-2021/Datos/TP1/CSVS/datos_promedio_final.csv")

#### Rango edades segun damage_grade.

In [43]:
# Obtengo los rangos de edad segun el damage grade, para edificios entre 0 a 100 anios.
datos_rangos = datos_edad_filtrados
datos_rangos["Damage_3"] = datos_rangos["damage_grade"] == 3
datos_rangos["Damage_2"] = datos_rangos["damage_grade"] == 2
datos_rangos["Damage_1"] = datos_rangos["damage_grade"] == 1
datos_rangos_final = datos_rangos.groupby("age").agg({"Damage_3" : "sum", "Damage_2" : "sum", "Damage_1" : "sum"}).reset_index()
datos_rangos_edad_menor_100 = datos_rangos_final[datos_rangos_final["age"] < 100]
datos_rangos_edad_menor_100.to_csv("/content/gdrive/MyDrive/1C-2021/Datos/TP1/CSVS/datos_rangos_edad_menor_100.csv")

In [58]:
casas_barro = train_values_dataset.loc[train_values_dataset['has_superstructure_adobe_mud'] == 1, ['building_id','has_superstructure_adobe_mud']]

In [60]:
danio_casas_barro = pd.merge(casas_barro, train_labels_dataset, how='inner', on= 'building_id')

In [77]:
#nivel de daño para las construcciones contruidas con barro
danio_casas_barro['damage_grade'].value_counts()

2    13902
3     8605
1      594
Name: damage_grade, dtype: int64